{% extends "base.html" %}
{% block content %}
<h3>This site uses the following technologies</h3>
<div class="about-table" >
    <table >
        <tr>
            <td>
                Prog. languages
            </td>
            <td >
                Scripting
            </td>
            <td>
                DB
            </td>
            <td>
                API's
            </td>
            <td>
                Libs
            </td>
        </tr>
        <tr>
            <td >
                Python
            </td>
            <td>
                Javascript
            </td>
            <td>
                Google Cloud Datastore
            </td>
            <td>
                Google maps
            </td>
            <td>
                Jquery
            </td>
        </tr>
        <tr>
            <td >

            </td>
            <td>
                Node.js
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                Bootstrap
            </td>
        </tr>
    </table>
</div>
<div>
    <ul>
        <li>
            Usernames and passwords are hashed through hashlib with sha256. A secret is used to avoid rainbow tables.
        </li>
        <li>
            The website uses cookies to remember login.
        </li>
    </ul>
</div>

{% endblock %}