{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class='container'>
        <div class='silver'>
            <h1 class="h1_app">Google Map Viewer</h1>
            <div class='app1'></div>
            <p class="p_app">Technologies</p>
            <span class="span-fixed_app">JS, Python, Google Maps API, GCD</span>
            <a href="/googlemaps">
                <button>PLAY</button>
            </a>
        </div>
        <div class='silver'>
            <h1 class="h1_app">Snake</h1>
            <div class='app2'></div>
            <p class="p_app">Technologies</p>
            <span class="span-fixed_app">JavaScript, Node.js</span>
            <a href="/snake">
                <button>PLAY</button>
            </a>
        </div>
        <div class='silver'>
            <h1 class="h1_app">Bubble shooter</h1>
            <div class='app3'></div>
            <p class="p_app">Technologies</p>
            <span class="span-fixed_app">Javascript</span>
            <a href="/bubbleshooter">
                <button>PLAY</button>
            </a>
        </div>
        <div class='silver'>
            <h1 class="h1_app">Live chat</h1>
            <div class='app4'></div>
            <p class="p_app">Technologies</p>
            <span class="span-fixed_app">JavaScript, Node.js</span>
            <a href="/livechat">
                <button>PLAY</button>
            </a>
        </div>
        <div class='silver'>
            <h1 class="h1_app">Tetris</h1>
            <div class='app5'></div>
            <p class="p_app">Technologies</p>
            <span class="span-fixed_app">JavaScript</span>
            <a href="/tetris">
                <button>PLAY</button>
            </a>
        </div>
    </div>
</div>

<div class="newsfeed">
    <span style="font-size: 30px; font-weight: bold">Comments</span>
    <a style="padding-left: 10px" href="/?allComments=True">
        View all
    </a>
    <a style="padding-left: 10px" href="/?allComments=False">
        | Recent
    </a>
    <br><br>
    {% for c in frontComments %}
    {{ c.render() | safe }}
    <br><br>
    {% endfor %}
</div>
<div>
    {% if not user %}
    <h3>You need to be logged in to comment</h3>
    <a class="login-link" href="/login">login</a>
    |
    <a class="login-link" href="/signup">signup</a>
    {% else %}
    <h2>New Comment</h2>

    <form method="post">
        <label>
            <textarea name="frontContent">{{content}}</textarea>
        </label>

        <div class="error">{{error}}</div>

        <input type="submit">
    </form>
    {% endif %}
</div>

<script src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>

{% endblock %}