{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class='container'>
        <div class='silver'>
            <h1 class="h1_app">Google Map Viewer</h1>

            <div class='app1'></div>
            <p class="p_app">Technologies</p>
            <span class="span-fixed_app">Javascript, Python, Google Maps API</span>

            <p class="p_app">Clicks</p>
            <span class="span_app">7</span>
            <a href="#">
                <button>TBA</button>
            </a>
        </div>
        <div class='silver'>
            <h1 class="h1_app">Snake</h1>

            <div class='app2'></div>
            <p class="p_app">Technologies</p>
            <span class="span-fixed_app">JavaScript, Python</span>

            <p class="p_app">Clicks</p>
            <span class="span_app">3</span>
            <a href="#">
                <button>TBA</button>
            </a>
        </div>
        <div class='silver'>
            <h1 class="h1_app">Bubble shooter LIVE</h1>

            <div class='app3'></div>
            <p class="p_app">Technologies</p>
            <span class="span-fixed_app">Javascript</span>

            <p class="p_app">Clicks</p>
            <span class="span_app">8</span>
            <a href="/bubbleshooter">
                <button>PLAY</button>
            </a>
        </div>
    </div>
</div>

<div class="newsfeed">
    <h1>Newsfeed</h1>
    {% for p in posts %}
    {{ p.render() | safe }}
    <br><br>
    {% endfor %}
</div>

{% endblock %}